 
        <P>
                question 2 statstics
        </P>
        <div #myCanvas style=" height:1000px; width:600px; margin-bottom: -550px"> <canvas id="canvas"  width="10px">{{ chart }}</canvas> </div>
        <div #myCanvas2 style=" height:1000px; width:600px; margin-bottom: -550px"  > <canvas id="canvas2"  align="right">{{ chart }}</canvas> </div>
        <div #myCanvas3 style=" height:1000px; width:600px; align-content: space-between " > <canvas id="canvas3"  align="right">{{ chart }}</canvas> </div>