 <html>
         

        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas style=" height:500px; width:600px;"> 
                        <P>
                        question 2 statstics
                        </P>
                <canvas id="canvas"  width="10px">{{ chart }}</canvas> 
        </div>
        
                       
        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas2 style="height:500px; width:600px;"  > 
                        <P>
                        question 3 statstics
                        </P>
                <canvas id="canvas2"  align="right">{{ chart }}</canvas> 
        </div>
        
                 
        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas3 style="height:500px; width:600px;" > 
                        <P>
                        question 4 statstics
                        </P>
                <canvas id="canvas3"  align="right">{{ chart }}</canvas> 
        </div>
      
        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas6 style="height:500px; width:600px;" >
                        <P>
                         question 5 statstics
                        </P> 
                <canvas id="canvas6"  align="right">{{ chart }}</canvas> 
        </div>
        
                       
        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas4 style="height:500px; width:600px;" > 
                        <P>
                        question 6 statstics
                        </P>
                <canvas id="canvas4"  align="right">{{ chart }}</canvas>
         </div>
        
      
                        
        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas5 style="height:500px; width:600px;" >
                        <P>
                        question 7 statstics
                         </P>
                 <canvas id="canvas5"  align="right">{{ chart }}</canvas>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12" #myCanvas7 style="height:500px; width:600px;" >
                <P>
                question 7 statstics
                 </P>
         <canvas id="canvas7"  align="right">{{ chart }}</canvas>
</div>

<div class="col-md-4 col-sm-6 col-xs-12" #myCanvas7 style="height:500px; width:600px;" >
        <P>
        question 7 statstics
         </P>
 <canvas id="canvas8"  align="right">{{ chart }}</canvas>
</div>

<div class="col-md-4 col-sm-6 col-xs-12" #myCanvas7 style="height:500px; width:600px;" >
        <P>
        question 7 statstics
         </P>
 <canvas id="canvas9"  align="right">{{ chart }}</canvas>
</div>
        
        
       
        </html>
        