<div class="container">
  <h1>{{ 'AboutUs' | translate }}</h1>
  <p>
    {{ 'About1' | translate }}
  </p>
  <p>
    {{ 'About2' | translate }}
  </p>
    {{ 'About3' | translate }}
  <hr>

  <h1 class="autoBreak">{{ 'PrivacyPolicy' | translate }}</h1>
  <p>
    {{ 'Privacy1' | translate }}
  </p>
  <p>
    {{ 'Privacy2' | translate }}
  </p>
  <p>
    {{ 'Privacy4' | translate }}
  </p>
  <hr>

  <h1>{{ 'TreatStress' | translate }}</h1>
  <p>
    {{ 'TreatStress1' | translate }}
  </p>
  <p>
    {{ 'TreatStress2' | translate }}
  </p>
  <hr>

  <h1>{{ 'AboutTeam' | translate }}</h1>
  <span>{{ 'AboutTeam1' | translate }}</span><br>
  <span>{{ 'AboutTeam2' | translate }}</span><br>
  <span>{{ 'AboutTeam3' | translate }}</span><br>
  <span>{{ 'AboutTeam4' | translate }}</span><br>
  <span>{{ 'AboutTeam5' | translate }}</span><br>
  <span>{{ 'AboutTeam6' | translate }}</span><br>
  <span>{{ 'AboutTeam7' | translate }}</span><br>
  <span>{{ 'AboutTeam8' | translate }}</span><br>
  <span>{{ 'AboutTeam9' | translate }}</span><br><br>
  <span>{{ 'AboutTeam10' | translate }}</span>
  <hr>


</div>
