<div class="container">
  <app-alert></app-alert>

  <form (ngSubmit)="passwordForm.valid && sendInstruktions()" #passwordForm="ngForm" novalidate>
    <div class="form-group">
      <label for="email">{{ 'EmailAddress' | translate }}</label>
      <input type="text" class="form-control" id="email" placeholder="{{ 'EmailPlaceHolder' | translate }}" required name="email"
             [(ngModel)]="enteredEmail" #emailModel="ngModel">
      <div *ngIf="passwordForm.submitted && emailModel.errors?.required" class="alert alert-danger">
        {{ 'EmailRequired' | translate }}
      </div>
    </div>

    <button type="submit" class="btn btn-success">{{ 'SendInstruktions' | translate }}</button>
    <app-spinner></app-spinner>
  </form>

</div>
