
<head>
        <script
        src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
        data-auto-a11y="true"
      ></script>
</head>
<div class="container">
<tbody>
    <tr *ngFor="let tipData of tipsData" class="pointer" data-toggle="modal">
        <div class="card">
      <td  align="center"><b><font color='1a67b7' size="3.5" ><i>{{tipData.title}}</i></font></b> </td>
      <br>
      <td align="center">{{tipData.goal}}</td>
    <!--  <button type="button" class="w3-button w3-ripple w3-red" data-dismiss="modal" (click)=" getTipDetails(tipData.id)">{{ 'Click here for details' | translate }}</button>-->
    <!--  <button class="button button5"  data-dismiss="modal" (click)=" getTipDetails(tipData.id)">+</button>-->
      <!--<a href={{tipData.links}}>Click here for details</a>-->
     <!-- <li routerLinkActive="active"><a [routerLink]="['/tipsDetails',tipData.id]"><font color='1a67b7'>{{ 'More' | translate }}</font></a></li> -->
     <div class="icon" >
           <!-- <i class="fas fa-info-circle" ></i>-->
        <fa-icon [icon]="faInfoCircle" size="lg" [spin]="isSyncAnimated" (click)="getTipDetails(tipData.id)"></fa-icon>
      </div>  
    </div>
      <br>
    </tr>
    </tbody>
</div>
