<div class="container">

  <form (ngSubmit)="passwordForm.valid && resetPassword()" #passwordForm="ngForm" novalidate>
    <div class="form-group">
      <label for="password">{{ 'Password' | translate }}</label>
      <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password"
             #passwordModel="ngModel" minlength="8">
      <div *ngIf="passwordForm.submitted && passwordModel.errors?.required" class="alert alert-danger">
        {{ 'PasswordRequired' | translate }}
      </div>
      <div *ngIf="passwordForm.submitted && passwordModel.errors?.minlength" class="alert alert-danger">
        {{ 'minPWLength' | translate }}
      </div>
    </div>

    <div class="form-group">
      <label for="password">{{ 'PasswordAgain' | translate }}</label>
      <input type="password" class="form-control" id="passwordConf" required [(ngModel)]="passwordConf" name="passwordConf"
             #passwordConfModel="ngModel" minlength="8">
      <div *ngIf="passwordForm.submitted && passwordConfModel.errors?.required" class="alert alert-danger">
        {{ 'PasswordAgainRequired' | translate }}
      </div>
      <div *ngIf="passwordForm.submitted && passwordConfModel.errors?.minlength" class="alert alert-danger">
        {{ 'minPWLength' | translate }}
      </div>
    </div>

    <button type="submit" class="btn btn-success">{{ 'ResetPW' | translate }}</button>
    <app-spinner></app-spinner>
  </form>

</div>
