<div>
  
  <p>{{ 'All High Scores' | translate }}</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{ 'Name' | translate }}</th>
        <th>{{ 'Email' | translate }}</th>
        <th>{{ 'Points' | translate }}</th>
        <th>{{ 'Pictures' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let highScore of highscores">
        <!-- <td align="center"><img src="{{studie.picture}}" width="100" height="100"></td> -->
        <td align="center">{{highScore.name}}</td>
        <td align="center">{{highScore.email}}</td>
        <td align="center">{{highScore.points}}</td>
        <td align="center"><img src="{{highScore.picture}}" width="100" height="100"></td>

        <!-- <td align="center">
          <div *ngIf="studie.isPrivate === 1; else publicTag" class="glyphicon glyphicon-ok"></div>
          <ng-template #publicTag>
            <div class="glyphicon glyphicon-remove"></div>
          </ng-template>
        </td>
        <td align="center">
          <div *ngIf="studie.isRunning === true; else closedTag" class="glyphicon glyphicon-ok"></div>
          <ng-template #closedTag>
            <div class="glyphicon glyphicon-remove"></div>
          </ng-template>
        </td>
        <td align="center">
          <button type="button" class="btn btn-default" (click)="changeSelectedStudy(studie.name, studie.id)"
                  data-toggle="modal" data-target="#unsubscribeModal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'Unsubscribe' | translate }}
          </button>
        </td>
        <td align="center">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeSelectedStudy(studie.name, studie.id);unlockAchievements();">{{ 'unlockAchievements' | translate }}</button>

        </td>
        <td align="center">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeSelectedStudy(studie.name, studie.id);HighScores();">{{ 'HighScores' | translate }}</button>

      </td> -->
      </tr>
    </tbody>
  </table>
</div>